html,
body {
  margin: 0;
  padding: 0;
}
p.last {
  padding-bottom: 0;
}
#article-title-1 {
  font-family: "noticia text", "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 24px;
  /*color: #333333;*/
  margin: 0;
  padding: 0;
  line-height: 28px;
}
.contributor-list {
  margin: 10px 0;
  padding: 0;
}
.contributor-list li {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 11px;
  color: #333333;
  list-style: none;
  line-height: 16px;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 1.5em;
  color: #333333;
  padding: 0;
  margin: 0;
  /*text-transform: capitalize;*/

}
ul {
  margin-left: 40px;
}
.contributor-list {
  margin: 10px 0;
  padding: 0;
}
.contributor-list li {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 11px;
  color: #333333;
  list-style: none;
  line-height: 16px;
}
.fig-inline img {
  height: 108px;
  margin-top: 1.2em;
}
/*correct p!*/
p,
li {
  font-family: "noticia text", "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 1.2em;
  color: #333333;
  line-height: 1.5em;
}
p em,
li em {
  font-family: "noticia text", "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 13px;
  color: #666666;
  font-style: italic;
}
.fig-caption .first-child {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 13px;
  color: #333333;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 1.5em;
  color: #333333;
  padding: 0;
  margin: 0;
  /*text-transform: capitalize;*/

}
/*a:link {
  color: #048bc9;
  text-decoration: none;
  font-weight: 100;
}*/
.list-unord li {
  font-family: "noticia text", "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 13px;
  color: #333333;
  line-height: 20px;
  padding: 0;
  margin: 0;
}
.boxed-text {
  background: none;
  padding: 20px 10px;
}
.boxed-text h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #333333;
  padding: 0;
  margin: 0;
}
.boxed-text a {
  cursor: pointer;
}
/*
#contentWrapper2ColIssue .cit-first-element,
#contentWrapper2ColIssue cite {
  font-family: "noticia text", "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 12px;
  color: #333333;
}
#contentWrapper2ColIssue h4 {
  font-family: "Noticia Text";
  font-size: 16px;
  color: #333333;
  font-style: normal;
  font-weight: 700;
  padding: 0;
  margin: 0;
}
#contentWrapper2ColIssue ul.cit-views {
  list-style: none;
  height: 15px;
}
#contentWrapper2ColIssue ul.cit-views li.first-item {
  width: 63px;
  border-right: 1px solid #333333;
  margin-right: 8px;
}
#contentWrapper2ColIssue ul.cit-views li.first-item a {
  font-family: "noticia text", "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 14px;
  color: #5481cc;
}
#contentWrapper2ColIssue ul.cit-views li.last-item {
  width: 150px;
}
#contentWrapper2ColIssue ul.cit-views li.last-item a {
  font-family: "noticia text", "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 14px;
  color: #5481cc;
}
#contentWrapper2ColIssue ul.cit-views li {
  float: left;
}
#contentWrapper2ColIssue ol.aindex-auth-list {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #999999;
  width: 514px;
}
#contentWrapper2ColIssue ol.aindex-auth-list li {
  margin: 0;
  padding: 0;
}
#contentWrapper2ColIssue abbr {
  font-family: "noticia text", "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 12px;
  color: #333333;
  border-bottom: none;
  margin: 0;
  padding: 0;
}
#contentWrapper2ColIssue h2 {
  font-family: "Noticia Text";
  font-size: 1.5em;
  color: #333333;
  font-style: normal;
  font-weight: 700;
  margin-top: 16px;
  padding-bottom: 3px;
  /*text-transform: capitalize;

}
*/


/* Begin: For responive, use #content_viewer instead of #content-view */
#content_viewer {
  margin: 0;

}

#content_viewer.barBlue {
  border-top: 6px solid #048bc9;
}
#content_viewer.barGreen {
  border-top: 6px solid #39c208;
}
#content_viewer.barRed {
  border-top: 6px solid #d94e17;
}
#content_viewer .titleImg {
  margin: 10px 0;
  display: block;
}
#content_viewer #glossary-1 {
  padding-top: 5px;
  border-top: 1px solid #999999;
  list-style-type: none;
  font-family: "Noticia Text";
  font-size: 14px;
  color: #666666;
  font-style: normal;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}
#content_viewer #glossary-1 dl dt {
  font-weight: 400;
}
#content_viewer #article-title-1 {
  font-family: "Noticia Text";
  font-size: 24px;
  /*color: #666666;*/
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
}
#content_viewer #article-title-2,
#content_viewer #article-title-3,
#content_viewer #article-title-4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #666666;
  line-height: 20px;
  margin: 5px 0;
  font-weight: normal;
}
#content_viewer .article .section p,
#content_viewer .article .subsection p {
  font-family: "Noticia Text";
  font-size: 14px;
  color: #666666;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin: 0 0 10px;
}
#content_viewer .article .section p strong,
#content_viewer .article .subsection p strong {
  font-weight: 700;
  color: #000;
}
#content_viewer .article .keywords {
  padding-top: 5px;
  border-top: none;
  list-style-type: none;
  font-family: "Noticia Text";
  font-size: 14px;
  color: #666666;
  font-style: normal;
  font-weight: 400;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}
#content_viewer sup,
#content_viewer sub {
  line-height: 10px;
}
#content_viewer xref-table {
  line-height: 10px;
}
#content_viewer .subject-headings li {
  font-family: "Noticia Text";
  font-size: 14px;
  color: #666666;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 20px;
}
#content_viewer .related-btn,
#content_viewer .view-large-btn {
  display: inline-block;
  padding: 2px 10px;
  line-height: normal;
  position: relative;
  background-color: #E5E5E5;
  background-image: -webkit-linear-gradient(top, whiteSmoke, #e5e5e5);
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: #DDD #DDD #BBB;
  box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 3px;
  cursor: pointer;
  -webkit-user-select: none;
  background-repeat: no-repeat;
  margin: 10px 0px;
}
#content_viewer .related-btn.btn-label-sansserif,
#content_viewer .view-large-btn.btn-label-sansserif {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: #666666;
  text-shadow: rgba(255, 255, 255, 0.901961) 0px 1px;
}
#content_viewer .related-btn.btn-label-sansserif:hover,
#content_viewer .view-large-btn.btn-label-sansserif:hover {
  background-color: #99d8f2;
  background-image: none;
  cursor: pointer;
  -webkit-user-select: none;
  background-repeat: no-repeat;
}
#content_viewer ol.contributor-list li,
#content_viewer ol.affiliation-list li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #999999;
  display: inline-block;
}
#content_viewer ol.contributor-list li a,
#content_viewer ol.affiliation-list li a {
  color: #999999;
  text-decoration: none;
}
#content_viewer ol.contributor-list li a:hover,
#content_viewer ol.affiliation-list li a:hover {
  text-decoration: underline;
}
#content_viewer ol.contributor-list li address,
#content_viewer ol.affiliation-list li address {
  font-style: normal;
}
#content_viewer .affiliation-list-reveal {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #048bc9;
}
#content_viewer .affiliation-list-reveal:hover {
  text-decoration: underline;
  cursor: pointer;
}
#content_viewer .affiliation-list {
  padding-left: 20px;
  margin-top: 0;
}
#content_viewer .affiliation-list li {
  line-height: 16px;
}
#content_viewer .section-nav {
  display: none;
}


#content_viewer .content h1 {text-align:left;}
#content_viewer .content ol {
  list-style-position:inside;
}


#content_viewer h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #333333;
  border-bottom: 1px dotted #999999;
  margin: 30px 0 10px;
  font-weight: normal;
}
#content_viewer h3,
#content_viewer h4 {
  font-family: "Noticia Text";
  font-size: 16px;
  color: #333333;
  font-style: normal;
  font-weight: 700;
  margin: 10px 0px 0px;
}
#content_viewer h4 {
  font-style: italic;
}
#content_viewer .section.abstract {
  padding-bottom: 20px;
  border-bottom: 1px solid #999999;
}
#content_viewer .kwd-group-title {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: "Noticia Text";
  font-size: 14px;
  color: #666666;
  font-style: normal;
  font-weight: 700;
}
#content_viewer .kwd-group {
  margin-bottom: 10px;
  font-family: "Noticia Text";
  font-size: 14px;
  color: #666666;
  font-style: normal;
  font-weight: 700;
}
#content_viewer .kwd-group li a:hover {
  text-decoration: underline;
}
#content_viewer #def-list-1 dd {
  font-family: "Noticia Text";
  font-size: 14px;
  color: #666666;
  font-style: normal;
  font-weight: 400;
}

#content_viewer .boxed-text {
  padding: 5px 15px;
  background: none;
  margin-bottom: 20px;
}
#content_viewer .boxed-text .subsection h4 {
  font-family: "Noticia Text";
  font-size: 14px;
  color: #666666;
  font-style: normal;
  font-weight: 700;
  margin: 5px 0px;
}
#content_viewer .boxed-text .subsection p {
  color: #666666;
}
#content_viewer .table.pos-float {
  border: solid 1px #3399CC;
  padding: 10px;
  overflow: hidden;
  display: block;
  margin-bottom: 20px;
}

/* Begin: Responsive edits */

#content_viewer .content .section {
  float:left;
}

#content_viewer .fig.pos-anchor {
  width: 100%;
  position: relative;
  float: left;
}

#content_viewer .content .section p {
position: relative;
float: left;
color: #000;
width: 100%;
margin: 0;
}

#content_viewer .content .section ol li p {
  position: relative;
  width: 100%;
  margin: 0;
  clear: both;
  display: inline;
  float: none;
  color: #000;
}

#content_viewer .content .section div.graphic {
  background-color: #e0f3fb;
  width: 100%;
  margin: 10px 0;
}

/* End: Responsive edits */

#content_viewer .fig.pos-float {
  border: solid 1px #3399CC;
  padding: 10px;
  overflow: hidden;
  /*float:left;*/

  display: block;
  margin-bottom: 20px;
}
#content_viewer .fig-inline {
  /*width: 260px;
  height:260px; float:left;
  float: left;
  */
  position: relative;
  margin-top: 10px;
}
#content_viewer .fig-inline a {
  position: relative;
  width: 243px;
  top: 0;
  left: 10px;
}
#content_viewer .table-inline {
  width: 260px;
  height: 260px;
  overflow: hidden;
  position: relative;
  margin-top: 10px;
  float: left;
}
#content_viewer .table-inline a {
  position: relative;
  width: 243px;
  top: 0;
  left: 10px;
}
#content_viewer .table-caption {
  width: 255px;
  float: left;
  margin: 10px 0 0 10px;
  height: 200px;
  position: relative;
}
#content_viewer .fig-caption {
  /* width: 255px; */
  float: left;
  margin: 10px 0 0 10px;
}
#content_viewer .callout {
  display: none;
}
#content_viewer .table-label,
#content_viewer .fig-label {
  font-family: "Noticia Text";
  font-size: 14px;
  color: #666666;
  font-style: normal;
  font-weight: 700;
}
#content_viewer .table-inline img {
  width: 260px;
}
#content_viewer .table-inline .tableEnlarge {
  display: inline-block;
}
#content_viewer .disp-formula .inline-graphic,
#content_viewer .inline-formula .inline-graphic {
  display: block;
  padding: 15px 0;
  margin: 0 auto;
}
#content_viewer #fn-group-1 ul {
  margin-left: 0;
}
#content_viewer #fn-group-1 ul li {
  list-style-type: none;
  border-bottom: 1px dotted #999999;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-family: "Noticia Text";
  font-size: 14px;
  color: #666666;
  font-style: normal;
  font-weight: 400;
}
#content_viewer #fn-group-1 ul li p {
  font-family: "Noticia Text";
  font-size: 14px;
  color: #666666;
  font-style: normal;
  font-weight: 400;
}
#content_viewer #fn-group-1 ul ul.history-list {
  margin: 0 0 10px 0;
  border-bottom: 1px dotted #999999;
  padding-bottom: 10px;
}
#content_viewer #fn-group-1 ul ul.history-list li {
  font-family: "Noticia Text";
  font-size: 14px;
  color: #666666;
  font-style: normal;
  font-weight: 400;
  list-style-type: none;
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
#content_viewer ol.cit-list {
  list-style: decimal outside;
  margin-left: 0;
  padding-left: 20px;
  font-family: "Noticia Text";
  font-size: 14px;
  color: #666666;
  font-style: normal;
  font-weight: 400;
}
#content_viewer ol.cit-list li {
  padding: .3em 0;
  display: list-item;
}
#content_viewer ol.cit-list li,
#content_viewer ol.cit-list div,
#content_viewer ol.cit-list span,
#content_viewer ol.cit-list a {
  line-height: 10px;
}
#content_viewer ol.cit-list div.ref-other {
  font-size: 10px;
  line-height: 16px;
  color: #999;
}
#content_viewer ol.cit-list div.ref-other em {
  font-family: "Noticia Text";
  font-size: 10px;
  color: #999999;
  font-style: normal;
  font-weight: 400;
  font-weight: normal;
  font-style: italic;
}
#content_viewer ol.ref-use-labels {
  list-style: none;
  margin-left: .5em;
}
#content_viewer div.ref-cit .cit-metadata li {
  display: inline;
  color: #999;
}
#content_viewer div.ref-cit .cit-metadata .duplicate,
#content_viewer div.ref-cit .cit-metadata span.cit-pub-id-sep,
#content_viewer div.ref-cit .cit-metadata span.cit-pub-id {
  display: none;
}
#content_viewer div.ref-cit .cit-metadata div.duplicate {
  display: none;
}
#content_viewer div.ref-list a.rev-xref-ref {
  font-size: .694em;
  /* 2 sizes smaller */

  font-weight: bolder;
  background-color: #CCC;
  padding: 2px;
}
#content_viewer div.ref-list .rev-xref-ref,
#content_viewer div.ref-list .rev-xref-ref:link {
  text-decoration: none;
}
#content_viewer ol.cit-list li div.ref-confproc div.unstructured {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: #999999;
  color: #999;
}
#content_viewer span.cit-etal {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: #999999;
  font-weight: bold;
}
#content_viewer div.ref-cit div.cit-extra a,
#content_viewer span.inline-cit.ref-journal .cit-extra a {
  font-size: 88%;
  margin-left: .3em;
  padding-left: 9px;
  background-image: url(../../shared/img/misc/rightchevron.gif);
  background-position: 0 center;
  background-repeat: no-repeat;
  text-decoration: underline;
  white-space: nowrap;
  display: inline-block;
}
#content_viewer span.inline-cit.ref-journal .cit-extra a {
  display: inline;
  white-space: normal;
}
#content_viewer span.inline-cit.ref-journal .cit-extra span span {
  font-size: 1em;
}
#content_viewer div.ref-cit div.cit-extra a:hover,
#content_viewer span.inline-cit.ref-journal .cit-extra a:hover {
  border-bottom: 0px none;
}
#content_viewer div.ref-cit div.cit-extra a.cit-ref-sprinkles-open-url-has-image,
#content_viewer span.inline-cit.ref-journal .cit-extra a.cit-ref-sprinkles-open-url-has-image {
  background-image: none;
  padding-left: 0.1em;
}
#content_viewer div.ref-cit div.cit-extra a.cit-ref-sprinkles-open-url-has-image span,
#content_viewer span.inline-cit.ref-journal .cit-extra a.cit-ref-sprinkles-open-url-has-image span {
  display: none;
}
#content_viewer div.ref-cit div.cit-extra a.cit-ref-sprinkles-open-url-has-image img,
#content_viewer span.inline-cit.ref-journal .cit-extra a.cit-ref-sprinkles-open-url-has-image img {
  vertical-align: text-bottom;
}
#content_viewer div.ref-cit cite {
  font-style: normal;
}
#content_viewer div.ref-cit cite span.cit-source,
#content_viewer div.ref-cit cite abbr.cit-jnl-abbrev,
#content_viewer div.ref-cit cite span.cit-conf-name,
#content_viewer div.ref-cit cite .ie6-abbr-wrap {
  margin-right: .1em;
  font-style: italic;
}
#content_viewer div.ref-cit .cit-vol {
  font-weight: bolder;
}
#content_viewer div.ref-cit,
#content_viewer .ref-cit div,
#content_viewer .ref-cit cite,
#content_viewer .ref-cit ol,
#content_viewer .ref-cit li {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  display: inline;
}
#content_viewer div.ref-cit.no-rev-xref,
#content_viewer span.inline-cit.ref-journal.no-rev-xref {
  display: block;
  padding-top: 1px;
  margin-top: 0;
}
#content_viewer .ref-use-labels div.ref-cit.no-rev-xref {
  display: inline;
}
#content_viewer ul.responses-list,
#content_viewer ul.cit-views {
  margin: 0;
  padding: 0;
}
#content_viewer .cit {
  list-style-type: none;
  padding: 0;
  font-family: "Noticia Text";
  font-size: 12px;
  color: #666666;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 10px;
}
#content_viewer .cit ul.cit-auth-list {
  margin: 0;
}
#content_viewer .cit li {
  list-style-type: none;
}
#content_viewer .cit .digest {
  color: #333333;
  margin-bottom: 10px;
}
#content_viewer .cit .cit-title {
  font-family: "Noticia Text";
  font-size: 16px;
  color: #333333;
  font-style: normal;
  font-weight: 400;
  margin: 5px 0 10px 0;
}
#content_viewer .cit .cit-title a:hover {
  color: #39c;
  text-decoration: none;
}
#content_viewer .cit h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #666666;
  font-weight: bold;
  margin: .3em 0 .1em 0;
}
#content_viewer .cit h6 {
  font-family: "Noticia Text";
  font-size: 11px;
  color: #999999;
  font-style: normal;
  font-weight: 400;
  margin-bottom: .1em;
}
#content_viewer .cit a {
  color: #39c;
}
#content_viewer .cit .topic-header {
  line-height: 16px;
}
#content_viewer .cit .cit-auth {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: #999999;
  font-weight: bold;
  line-height: 13px;
  margin-bottom: 10px;
}
#content_viewer .cit cite,
#content_viewer .cit .cit-online-date {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: #999999;
  line-height: 12px;
  margin-bottom: 3px;
  font-style: normal;
}
#content_viewer #ad300x250Wrapper {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  height: 360px;
  width: 550px;
  position: relative;
  margin: 0 auto;
  text-align: center;
}
#content_viewer #ad300x250Wrapper p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: #666666;
  margin: 43px 0 0 0;
}
#content_viewer #ad300x250Wrapper p a {
  color: #666;
  text-decoration: none;
}
#content_viewer #ad300x250Wrapper #ad300x250 {
  position: relative;
  width: 300px;
  height: 250px;
  margin: 0 auto;
  background-color: #d9d9d9;
}

/* End: For responive, use #content_viewer instead of #content-view */



#CommentDv {
  display: block;
  width: 550px;
}
#CommentHeader {
  float: left;
  font-family: "noticia text", "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 18px;
  color: #666666;
}
#CommentList {
  width: 550px;
  border: solid 1px #ccc;
  font-family: "noticia text", "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 13px;
  color: #333333;
}
#CommentList .comments-name {
  font-weight: bold;
}
#CommentList .comments-date {
  font-style: italic;
  color: #999;
}
#CommentList .comments-body {
  font-size: 12px;
  padding: 15px 0 15px 0;
  border-bottom: dotted 1px #39c;
  margin: 0 15px 0 15px;
}
#CommentList .comments-body-last {
  font-size: 12px;
  padding: 15px 0 15px 0;
  margin: 0 15px 0 15px;
}
#CommentEntry {
  border: solid 1px #39c;
  width: 550px;
  height: 180px;
  margin-bottom: 50px;
  background: #e5e5e5;
}
#CommentArea {
  width: 529px;
  height: 120px;
  margin: 7px 0px 8px 7px;
}
#CommentPostBtn,
#SubmitCommentBtn {
  font-family: "Noticia Text", Times New Roman;
  font-size: 14px;
  color: #666;
  text-shadow: rgba(255, 255, 255, 0.901961) 0px 1px;
  float: right;
  display: inline-block;
  padding: 5px 15px;
  line-height: normal;
  position: relative;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.07), rgba(255, 255, 255, 0.07) 50%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.07), rgba(255, 255, 255, 0.07) 50%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.07), rgba(255, 255, 255, 0.07) 50%);
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.07), rgba(255, 255, 255, 0.07) 50%);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.07), rgba(255, 255, 255, 0.07) 50%);
  box-sizing: content-box;
  text-align: center;
  cursor: pointer;
}
#HeadWrapper {
  padding: 20px 2px 20px 0;
  overflow: auto;
}
#PostWrapper {
  height: 30px;
  margin-bottom: 10px;
}
.box-figure {
  border: solid 1px #39c;
}
.box-figure .figure-title {
  font-weight: bold;
}
.box-figure .figure-body {
  font-size: 12px;
  padding: 15px;
}
.articlePolicy .ui-tabs .ui-tabs-panel {
  padding: 15px;
}
div.graphic,
div.mediaPreview,
div.imagePreview {
  padding: 20px;
  background-color: #ededed;
  margin-bottom: 20px;
}
div.graphic img,
div.mediaPreview img,
div.imagePreview img {
  max-width: 510px;
  height: auto;
}
div.graphic p,
div.mediaPreview p,
div.imagePreview p {
  line-height: 18px;
  margin-right: 33px;
  margin-bottom: 0px;
  margin-top: 5px;
}
div.graphic p.description,
div.mediaPreview p.description,
div.imagePreview p.description,
div.graphic p.topic,
div.mediaPreview p.topic,
div.imagePreview p.topic,
div.graphic p.link,
div.mediaPreview p.link,
div.imagePreview p.link {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 14;
  color: #333333;
  line-height: 18px;
  margin-bottom: 15px;
}
div.graphic {
  /*width: 465px;*/
  background-color: #e0f3fb;
}
div.graphic div.graphic-inline {
  /*height: 100px;*/
}
div.graphic div.graphic-inline img {
  height: 100%;
}
#mplayer {
  margin: 0 auto;
}
#tinymce .regP,
.mceMenuItem .regP {
  font-family: "noticia text", "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 14px;
  color: #666666;
}
#tinymce .headerText,
.mceMenuItem .headerText {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #333333;
  font-weight: bold;
}
#tinymce em,
.mceMenuItem em {
  font-style: italic;
}
#tinymce strong,
.mceMenuItem strong,
#tinymce strong .regP,
.mceMenuItem strong .regP {
  font-weight: 700;
}
#tinymce a,
.mceMenuItem a {
  text-decoration: none;
  color: #048bc9;
}


.subject-headings li {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 12px;
  color: #999999;
  list-style: none;
  margin: 0;
  padding: 0;
}
#ExpandedContent {
  padding-top: 20px;
  min-height: 670px;
}

#ExpandedContent div.graphic {
  width: 510px;
  padding: 20px;
  background-color: #ededed;
  margin-bottom: 20px;
  float: left;
}
#ExpandedContent div.graphic img {
  max-width: 510px;
  height: auto;
  float: left;
}
#ExpandedContent div.graphic .graphic-caption {
  float: left;
}
#ExpandedContent div.graphic .graphic-inline img {
  float: left;
}
#ExpandedContent div.graphic p {
  line-height: 18px;
  margin-right: 33px;
  margin-bottom: 0px;
  margin-top: 5px;
}
#ExpandedContent div.graphic div {
  margin-top: 5px;
}
#ExpandedContent .imagePreview div {
  margin-top: 5px;
}
#ExpandedContent .mediaPreview div {
  margin-top: 5px;
}
.imagePreview div {
  font-family: "noticia text", "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 14px;
  color: #333333;
}
#mPlayer {
  cursor: pointer;
}
#breakingNewsContent {
  margin: 0;
  padding: 5px 0 0 0;
  cursor: pointer;
  line-height: 14px;
  font-family: "noticia text", "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 12px;
  color: #000000;
}
#breakingNews_AAPExpand span.breakingNewsLabel,
.mod_breakingNews {
  margin: 0;
  padding: 0;
  color: #048bc9;
  font-weight: bold;
  font-size: 18px;
  font-family: Arial;
  line-height: 18px;
}
#breakingNews_AAPExpand span.breakingNewsLabelL2 {
  margin: 0;
  padding: 0;
  color: #048bc9;
  font-weight: bold;
  font-size: 14px;
  font-family: Arial;
  line-height: 18px;
}
#breakingNewsContent_AAPExpand,
.mod_breakingNewsContent {
  margin: 0;
  padding: 5px 0 0 0;
  color: #333333;
  font-size: 14px;
  font-family: "noticia text";
  line-height: 16px;
}
#breakingNewsContent_AAPExpand span {
  color: #048bc9;
}
#homeVideoPopup p,
#homeVideoPopup ul {
  margin-left: 20px;
  margin-right: 20px;
}
/* REDBOOK SPCECIFIC STYLING */
.redbookMain .article ul.redbookSectionMarker {
  position: relative;
  left: -40px;
  list-style-type: none;
}
.redbookMain .article ul.redbookSectionMarker li:first-child {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #333333;
  padding-bottom: 20px;
}
.redbookMain .article ul.redbookSectionMarker li:nth-child(2) {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #666666;
  padding-bottom: 0;
}
.redbookMain .article ul.redbookSectionMarker li:nth-child(3) {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #666666;
  padding-bottom: 0;
  position: relative;
  left: 20px;
}
.redbookMain .article h1 + a {
  padding: 5px 0;
  margin-bottom: 10px;
  text-decoration: underline;
  cursor: pointer;
  display: block;
}
.redbookMain .article div.extract-view {
  border-top: 1px dotted #666;
  padding-top: 5px;
}
/*for changing font size*/
.smallFont #content-block .article .section p,
.smallFont #content-block .article .subsection p {
  font-size: 12px;
  line-height: 18px;
}
.smallFont #content-block #article-title-1 {
  font-size: 20px;
  line-height: 24px;
}
.smallFont #content-block h2 {
  font-size: 1.5em;
}
.smallFont #content-block h3,
.smallFont #content-block h4 {
  font-size: 14px;
}
.smallFont #content-block p,
.smallFont #content-block li {
  font-size: 12px;
  line-height: 18px;
}
.smallFont #content-block #glossary-1,
.smallFont #content-block #def-list-1 dd,
.smallFont #content-block #glossary-1,
.smallFont #content-block #fn-group-1 ul ul.history-list li,
.smallFont #content-block #fn-group-1 ul li,
.smallFont #content-block #fn-group-1 ul li p,
.smallFont #content-block .article .keywords,
.smallFont #content-block .boxed-text .subsection h4,
.smallFont #content-block .table-label,
.smallFont #content-block #content-block .fig-label {
  font-size: 12px;
}
.smallFont #content-block .cit {
  font-size: 10px;
}
.smallFont .redbookMain .article ul.redbookSectionMarker li:first-child {
  font-size: 14px;
}
.smallFont .redbookMain .article ul.redbookSectionMarker li:nth-child(2) {
  font-size: 12px;
}
.smallFont #currentIssuePopup .sectionContents ul li,
.smallFont #clipsLinksPopup .sectionContents ul li,
.smallFont #relatedPopup .sectionContents ul li,
.smallFont #btnAAANormalPopup .sectionContents ul li {
  margin-bottom: 15px;
}
.smallFont #content-block #article-title-2,
.smallFont #content-block #article-title-3,
.smallFont #content-block #article-title-4 {
  font-size: 14px;
}
.smallFont #WrapperPedsInReview h2.subtitle {
  font-size: 1.5em;
}
.smallFont #article-title-1 {
  font-size: 20px;
  line-height: 24px;
}
.largeFont #content-block .article .section p,
.largeFont #content-block .article .subsection p {
  font-size: 16px;
  line-height: 24px;
}
.largeFont #content-block #fn-group-1 ul ul.history-list li,
.largeFont #content-block #fn-group-1 ul li,
.largeFont #content-block #fn-group-1 ul li p,
.largeFont #content-block #def-list-1 dd,
.largeFont #content-block #glossary-1,
.largeFont #content-block .article .keywords,
.largeFont #content-block .boxed-text .subsection h4,
.largeFont #content-block .table-label,
.largeFont #content-block #content-block .fig-label {
  font-size: 16px;
}
.largeFont #content-block ol.cit-list li,
.largeFont #content-block ol.cit-list div,
.largeFont #content-block ol.cit-list span,
.largeFont #content-block ol.cit-list a,
.largeFont #content-block ol.cit-list div.ref-other em,
.largeFont #content-block .cit .cit-auth,
.largeFont #content-block .cit cite,
.largeFont #content-block .cit .cit-online-date {
  line-height: 12px;
}
.largeFont #content-block ol.cit-list li,
.largeFont #content-block ol.cit-list div,
.largeFont #content-block ol.cit-list span,
.largeFont #content-block ol.cit-list a {
  line-height: 14px;
}
.largeFont p,
.largeFont li {
  font-size: 16px;
  line-height: 24px;
}



/* Begin: KF CSS Adjustments for RESPONSIVE Main Article Styling */

.content .article .graphic-inline {width:100%;}
.content .article .graphic-inline img {
	width:auto;
}


.content ul {
  list-style-type:none;
}

.content .section {
  margin-top:15px;
}

.content .section div.graphic-inline {
  width:100%;
}
.content .section div.graphic-inline img{
  width:100%;
}

.content .section .subsection {

}

.content .section .subsection  span.disp-formula {
  width:100%;
}

.content .section .subsection span.disp-formula img{
  /*width:100%;*/
}

.content .section .subsection .pos-float {
  width:100%;
}

.content .section .subsection .pos-float .fig-inline img {
  width:100%;
}


/* Begin: KF CSS Adjustments for RESPONSIVE Main Article Styling */

